:root {
  --scheme-accent-100: #1e0000;
  --scheme-accent-200: #350000;
  --scheme-accent-300: #85031c;
  --scheme-accent-400: #a62f37;
  --scheme-accent-500: #c54c50;
  --scheme-accent-600: #ec6f70;
  --scheme-accent-600-10: rgba(236, 111, 112, 0.1);
  --scheme-accent-600-30: rgba(236, 111, 112, 0.3);
  --scheme-accent-600-50: rgba(236, 111, 112, 0.5);
  --scheme-accent-700: #ff9897;
  --scheme-accent-800: #ffc6c3;
  --scheme-accent-900: #ffd3d0;
  --scheme-accent-1000: #ffd3d0;
  --scheme-accent-1100: #ffd3d0;
  --scheme-accent-1200: #ffd3d0;
}
