@use "../styles/breakpoints.scss" as breakpoints;

.themeSwitcher {
    position: fixed;
    bottom: var(--static-space-32);
}

@include breakpoints.s {
    .themeSwitcher {
        position: fixed;
        top: var(--static-space-24);
        bottom: auto;
    }
}