@use "../styles/breakpoints.scss" as breakpoints;

@include breakpoints.s {
  .mobile {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--static-space-64);
  }
}