@use "../styles/breakpoints.scss" as breakpoints;

.white {
  color: var(--static-white);
}

.contentFlex {
  gap: var(--static-space-24);
}

@include breakpoints.s {
  .contentFlex {
    gap: var(--static-space-4);
  }
}